@charset "utf-8";

/**
 * Stylesheet Index:
 * =================
 *
 * 0. Reset
 * 1. Imports
 * 2. Elements
 * 3. ID & Class
 * 4. Pseudoclass
 * 5. Media Queries
 */

/* 0. Reset */
* {
	-moz-box-sizing:	border-box;
	box-sizing:			border-box;
}
::selection { background: rgba(0, 0, 0, 0.1); }
::-moz-selection { background: rgba(0, 0, 0, 0.1); }
html { font-size: 16px; }
body {
	width:				100%;
	margin:				0;
	padding:			0;
	min-width:			320px;
	font-family:		Verdana, Georgia, Helvetica,	/* Desktop	*/
						"Droid Sans", "Helvetica Neue",	/* Mobile	*/
						Sans-serif;						/* Fallback	*/
	-webkit-transform:	translateZ(0);
	transform:			translateZ(0);
}
a {
	outline:			0;
	text-decoration:	none;
}
hr {
	border:				1px solid;
	border-color:		#aaa transparent #fff;
}

/* 1. Imports */

/* 2. Elements */
body {
	color:				#333;
	background-color:	#ddd;
	background-attachment: fixed;
}
body > * {
	width:				800px;
	margin:				auto;
	text-align:			center;
}
header {
	cursor:				default;
	margin-top:			20%;
	font-size:			4rem;
	font-family:		Raleway;
	text-shadow:		0 0 1px #999;
}
nav {
	margin:				2rem auto;
	display:			table;
	font-size:			1.5rem;
	font-family:		Raleway;
}
nav a {
	color:				#678;
	width:				25%;
	padding:			1rem;
	display:			table-cell;
	border:				1px solid;
	border-color:		transparent;
	text-shadow:		0 0 0 #666;
}
footer > * {
	color:				#444;
	width:				50%;
	padding:			1rem 0;
	display:			inline-block;
}
footer div { text-align: left; }
footer h6 { text-align: right; }
footer div a {
	color:				#c44;
	padding:			0 0.5rem;
	font-size:			0.8rem;
}

/* 3. ID & Class */
#copyleft {
	margin:				auto;
	padding:			1rem 0.5rem;
	font-size:			0.8rem;
	font-weight:		normal;
}
#copyleft span {
	font-weight:		bold;
	display:			inline-block;
	-webkit-transform:	scaleX(-1);
	transform:			scaleX(-1);
}
#copyleft a { color: #c44; }
.fade {
	-webkit-transition:	all 300ms ease;
	transition:			all 300ms ease;
}

/* 4. Pseudoclass */
nav a:hover {
	color:				#345;
	border-color:		#aaa;
	border-radius:		3px;
	box-shadow:			inset 0 0 2px #fff,
						inset 0 -10px 50px rgba(0,0,0,0.1);
}
footer a:hover, #copyleft a:hover {
	color:				#422;
}

/* 5. Media Queries */
@media screen and (max-width: 800px) {
	body > * {
		width:				100%;
		padding:			0 1rem;
	}
}
@media screen and (max-width: 640px) {
	header { font-size: 3rem; }
	nav { font-size: 1.2rem; }
	footer > * {
		width:				100%;
		padding:			1rem 0 0;
		display:			block;
	}
	footer div, footer h6 { text-align: center; }
}
@media screen and (max-width: 512px) {
	header { font-size: 2.5rem; }
	nav { display: block; }
	nav a {
		width:				100%;
		display:			block;
		background:			-webkit-linear-gradient(top, #eee, #ddd);
		background:			linear-gradient(#eee, #ddd);
		font-weight:		bold;
		border-color:		#eee #ccc #bbb;
		border-radius:		0;
	}
	nav a:first-child { border-radius: 6px 6px 0 0; }
	nav a:last-child { border-radius: 0 0 6px 6px; }
}
@media screen and (max-width: 400px) {
	header { font-size: 2rem; }
	nav { font-size: 1rem; }
	#copyleft { font-size: 0.7rem; }
}
